.book {
    border: 1px solid deepskyblue;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 6px 8px;
    box-shadow: 0 0 5px #ccc;
}

h2 {
    margin: 8px 0;
    color: #333;
}

.view-detail {
    color: gray;
    text-decoration: none;
}